@use '@/variables' as v;

.main-layout {
    display: flex;
    width: 65%;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: v.$shadow-standart;

    @include v.family();

    .left-side {
        width: 50%;
        background-color: #fff;

        border-radius: 25px;
    }

    .right-side {
        width: 50%;
        background-color: v.$blue-900;
        border-radius: 25px;
        padding: 40px;

        border-top-left-radius: 0;
        border-bottom-left-radius: 100px;
    }

    @media (max-width: 1290px) {
        @include v.family($font-size: 14px)
    }

    @media(max-width: 1000px) {
        display: flex;
        flex-direction: column;

        .left-side,
        .right-side {
            width: 100%;
        }

        .right-side,
        .left-side {
            border-radius: 0;
        }

        border-radius: 0;
    }

    @media(max-width: 650px) {
        width: 100%;
        min-width: 300px;
    }
}