@use './variables' as v;

.calculate-container {
    height: 100%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .calculate__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .input-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .amount-container {
        grid-column: 1 / 3;
    }

    .radio-wrapper {


        grid-column: 1 / 3;

        .radio-title {
            @include v.family($font-size: 16px, $font-weight: 500);
            color: v.$blue-300;
        }
    }

    .calculate-button-container {
        margin-top: 20px;
        grid-column: 1 / 3;
    }

    @media (max-width: 1130px) {
        .input-wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }

    @media (max-width: 650px) {
        .calculate-container {
            gap: 15px;
        }

        .calculate__header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            margin-bottom: 10px;

            h1 {
                margin: 0;
                font-size: 20px;
            }
        }
    }
}