@use './variables' as v;

.radio {
    display: flex;
    align-items: center;

    padding: 10px 20px;
    margin-top: 15px;
    border: 1px solid v.$blue-700;
    border-radius: 7px;

    color: v.$blue-900;
    @include v.family($font-size: 19px, $font-weight: 700);

    user-select: none;
    cursor: pointer;
    transition: border .25s;

    &:hover {
        border: 1px solid v.$lime;
    }

    &__text {
        cursor: pointer;
    }

    &__input {
        display: none;
    }

    &__custom {
        position: relative;
        display: inline-block;

        height: 20px;
        width: 20px;
        background-color: #fff;

        border: 2px solid v.$blue-700;
        border-radius: 50%;
        margin-right: 10px;

        &::before {
            position: absolute;
            content: '';
            height: 11px;
            width: 11px;
            border-radius: 50%;
            background-color: v.$lime;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%) scale(0);
            transition: 0.3s;
        }
    }

    &__input:checked+&__custom::before {
        transform: translate(-50%, -50%) scale(1);
    }
}

.selected-radio {
    border: 1px solid v.$lime;
    background: rgba(v.$lime, 0.2);
}