@use 'variables' as v;

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.attribution {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.error-message {
    margin-top: 10px;
    color: v.$red;
    font-size: 16px;
}

@media (max-width: 650px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;

        .attribution {
            position: static;
        }
    }
}